<div id="content">
  <div id="new_cappinet">
  <h1>New Cappinet</h1>
  <br>
  <form id="new-cappinet" method="post" action="/cappinets/new">
    <label class="label">Cappinet Name</label>
    <input id="cappinet_name" type="text" name="cappinet_name" placeholder="e.g., Reid's Spices" required>
    <br><br>
    <div class="submit"><input id="log-cappinet" type="submit" value="Create Cappinet!"></div>
  </form>
  </div>
</div>
